body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
li {
    background-color:papayawhip;
}
ul {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;

}
.fundo {
    background-color: powderblue;
}
#amr {
    color: yellow;
}
#vrm {
    color: red;
}
#mrr {
    color: brown;
}