#personalização {
    background-color: rgb(3, 19, 32);
    color: rgb(243, 240, 55);
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
};

#upText {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}
