.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.418);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  padding: 10px;
  margin: 5px 20%;
  width: 60%;
}

.modal h2 {
  text-align: center;
  margin: 5px 0;
}

.modal p {
  margin: 5px 0;
}

.modal div {
  margin: 10px 0;
}

.modal div p {
  margin: 0;
}

div.btn-container {
  display: flex;
  justify-content: center;
}
