header {
  background-color: rgb(3, 19, 32);
  color: rgb(243, 240, 55);
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.text {
  font-size: 18px;
}

h1 {
  display: block;
  margin: 2px 0;
}

#font-fam, #altura-linha {
  font-size: 14px;
  padding: 3px;
}
